doctype html
html(lang='zh-cmn-Hans')
	head
		meta(charset='utf-8')
		link(rel='stylesheet',href='./bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet',href='./main.css')
	body
		include ./jade_partials/header
		include ./jade_partials/left_nav
		include ./jade_partials/main_content
