header
	//- logo
	a.header_logo(href='/')
		img(src="./images/logo.png", alt="logo")
	//- right area
	div.header_right
		//- search input
		div.header_search_area
			span.header_search_btn
				i.fa.fa-search
			input(type='text')
		//- sign in link
		a.header_sign_in(href='/')
			i.fa.fa-user
			|登录