- var nav_titles = [{'name': '个人报表','icon': 'fa-list-alt','children':[{'name': '文件一','icon': 'fa-caret-right'},{'name':'文件二','icon':'fa-caret-right','children':[{'name':'文档1','icon':'fa-file-text-o'},{'name':'文档1','icon':'fa-file-text-o'}]},{'name':'文件三','icon':'fa-caret-right'}]},{'name': '个人收藏','icon': 'fa-star'},{'name': '我的分享','icon': 'fa-share-alt'},{'name': '图库','icon': 'fa-star'},{'name': '成长记录','icon': 'fa-star'},{'name': '账户信息','icon': 'fa-newspaper-o'}]

//- navigations
nav#left_nav
	div.nav_top
		div.nav_head
			img(src='./images/')
			span.nav_username ABC123
		div.nav_user_info
			div.nav_user_collection
				p 123
				p 收藏
			div.nav_user_fans
				p 123
				p 粉丝
	div.nav_lists
		ul
			each nav in nav_titles
				li
					a(href='javascript:void(0)',class='fa #{nav.icon}')= nav.name
					if nav.children
						ul
							each sub_nav in nav.children
								li
									a(href='javascript:void(0)',class='fa #{sub_nav.icon}')= sub_nav.name
									if sub_nav.children
										ul
											each sub_sub_nav in sub_nav.children
												li
													a(href='javascript:void(0)',class='fa #{sub_sub_nav.icon}')= sub_sub_nav.name
				