#main_content{
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #eeeeed;
	position: relative;
	padding: 50px 60px 0 60px;

	.top_bar{
		width: 100%;
		height: 32px;
		line-height: 32px;
		background: #fff;
		padding-left: 10px;
		position: absolute;
		top: 0;
		left: 0;

		a{
			text-decoration: none;
			float: left;
			color: #918A8A;
			margin-left: 10px;
			font-size: 1.4rem;
			font-weight: 400;
		}
		ul{
			li{
				list-style: none;
				display: inline-block;
				float: left;
				a{
					&:before {
						content: '/';
						position: relative;
						left: -3px;
					}
				}
			}
		}
	}

	.content {
		width: 100%;
		height: 100%;
		overflow: auto;

		section {

			&.section1 {
				padding: 10px 20px;
				height: 80px;
				background-color: #fff;

				>div{
					float: left;
				}
				label {
					font-size: 1.4rem;
					margin-right: 10px;
					color: #8B8787;
				}
				.check {
					width: 200px;
					height: 100%;
				}
				.people {
					width: 200px;
					height: 100%;
					>div {
						height: 50%;
						width: 100%;
					}
				}
				.details {
					width: 380px;
					height: 100%;
					>div {
						float: left;
						height: 50%;
						margin-right: 10px;
					}

				}
				.search {
					height: 100%;
					width: 100px;
					line-height: 60px;
					text-align: center;
					input {
						width: 60px;
						height: 32px;
						border: none;
						background-color: #388ac1;
						color: #fff;
						font-size: 1.6rem;
						cursor: pointer;
						&:hover {
							background-color: #388ac1 + #111;
						}
					}
				}
			}

			&.section2 {
				height: 80px;
				margin: 10px 0;
				display: flex;

				.cards{
					width: 752px;
					height: 100%;
					float: left;
					display: flex;
					flex: 4;

					>a {
						display: inline-block;
						height: 100%;
						width: 40px;
						line-height: 80px;
						float: left;
						background-color: #fff;
						text-align: center;
						font-size: 2rem;
						flex: 1;
					}

					ul{
						display: flex;
						height: 100%;
						width: auto;
						float: left;
						flex: 20;
						li{
							display: inline-block;
							width: 100px;
							background-color: #fff;
							margin: 0 6px;
							flex: 1;

							&.active {
								position: relative;
								&:before {
									content: '';
									display: inline-block;
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 4px;
									background-color: #388ac1;
								}
							}
							span.time {
								display: block;
								width: 100%;
								text-align: center;
								height: 50%;
								font-size: 1.3rem;
								line-height: 40px;
								span {
									font-size: 8.rem;
								}
							}
							span.money {
								display: block;
								width: 100%;
								height: 50%;
								text-align: center;
								&:before {
									color: #918A8A;
									font-size: 1.2rem;
									vertical-align: middle;
								}
								color: #FF9800;
								font-size: 2rem;

							}
						}
					}
				}

				.history {
					width: 200px;
					height: 100%;
					float: left;
					background-color: #fff;
					margin-left: 10px;
					flex: 1;
					text-align: center;
					line-height: 80px;

					a{
						font-size: 1.4rem;
						&:before{
							font-size: 4rem;
							color: #388ac1;
							vertical-align: middle;
							margin-right: 10px;
						}
					}
				}
			}

			&.section3 {
				height: 100px;
				margin-top: 15px;

				label {
					font-size: 1.4rem;
				}
				.cards{
					display: flex;
					width: 100%;
					height: 100%;
					margin-top: 4px;
					.card {
						flex: 1;
						height: 80%;
						background-color: #fff;
						position: relative;

						&:not(:last-child){
							margin-right: 40px;
						}
						&:before {
							content: '';
							position: absolute;
							display: inline-block;
							width: 6px;
							height: 100%;
							top: 0;
							left: 0;
						}
						&:nth-child(1){
							&:before, div.color {
								background-color: #43b29e;
							}
						}
						&:nth-child(2){
							&:before, div.color {
								background-color: #388ac1;
							}
						}
						&:nth-child(3){
							&:before, div.color {
								background-color: #d04a36;
							}
						}
						&:nth-child(4){
							&:before, div.color {
								background-color: #e2cd46;
							}
						}

						p{
							text-indent: 2rem;
							color: #918A8A;
							&:first-child{
								line-height: 50px;
								font-size: 1.4rem;
								color: #000;
							}
						}

						div.color {
							position: absolute;
							width: 60px;
							height: 60px;
							right: 20px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
			&.section4, &.section5{
				height: auto;
				width: 100%;
				display: flex;
				margin-top: 15px;

				>div {
					border-radius: 8px;
					border: 1px solid #ddd;
					background-color: #fff;
					>label {
						display: inline-block;
						width: 100%;
						height: 40px;
						line-height: 40px;
						padding-left: 10px;
						background-color: #f4f5f6;
						color: #bbb;
						font-size: 1.4rem;
					}
				}
			}
			&.section4 {
				.project_tab {
					flex: 5;
					margin-right: 15px;
					position: relative;

					.tab {
						width: 90%;
						height: 30px;
						margin-top: 10px;
						padding: 0 15px;

						ul {
							display: flex;
							width: 100%;

							li {
								display: inline-block;
								flex: 1;
								margin-right: 4px;
								height: 30px;
								line-height: 30px;
								text-align: center;
								background-color: #ddd;

								&.active {
									background-color: #fff;
									border: 1px solid #ddd;
									border-bottom: 1px solid #fff;
								}
							}
						}
					}

					.content{
						margin: 0 15px;
						border: 1px solid #ddd;
						position: relative;
						top: -1px;
						padding: 20px;
						width: auto;
						table {
							width: 100%;
							tr {
								td {
									height: 22px;
									text-align: center;
									border: 1px solid #ddd;
								}
							}
						}
					}
				}
				.project_detail{
					flex: 4;
					.content {
						width: 100%;
						padding: 15px;
						>div{
							float: left;
							input {
								border-width: 0 0 1px 0;
								border-bottom: 1px solod #ddd;
								padding: 3px;
								outline: none;
								width: 100%;
							}
							p input{
								width: auto;
							}
							label{
								display: inline-block;
								width: 100%;
								height: 22px;
								line-height: 22px;
								color: #ddd;
							}
							textarea {
								width: 100%;
								height: auto;
								border: none; 
								outline: none;
								padding: 3px;
								resize: none;
								height: 100%;
							}
						}
						.title{
							width: 100%;
						}
						.price{
							width: 30%;
							margin-right: 5%;
						}
						.response{
							width: 65%;
						}
						.describe {
							width: 100%;
							height: 160px;
						}
					}
				}
			}

			&.section5 {
				.calendar {
					flex: 4;
					margin-right: 15px;

					.content {
						width: 100%;
						padding: 15px;

						.options {
							width: 100%;
							display: flex;
							select, input{
								flex: 1;
								margin: 0 10px;
							}							
						}
						.weeks {
							width: 100%;
							margin-top: 10px; 
							ul{
								display: inline-block;
								display: flex;
								width: 100%;
								border-top: 1px solid #00f;
								border-bottom: 1px solid #ddd;

								li{
									display: inline-block;
									list-style: none;
									flex: 1;
									text-align: center;
									height: 32px;
									line-height: 32px;
								}
							}
						}
						.days{
							width: 100%;
							ul{
								display: inline-block;
								display: flex;
								width: 100%;

								li{
									display: inline-block;
									list-style: none;
									flex: 1;
									text-align: center;
									height: 32px;
									line-height: 32px;
								}
							}
						}

					}
				}
				.top {
					flex: 5;
					.content{
						width: 100%;
						padding: 10px 15px;
						table{
							width: 100%;
							tr {
								td,th{
									border: 1px solid #ddd;
								}
								th{
									font-size: 1.8rem;
									height: 38px;
								}
								td{
									font-size: 1.4rem;
									text-align: center;
									height: 32px;
									span {
										display: inline-block;
										width: 300px;
										background-color: #ddd;
										height: 8px;
										position: relative;
										border-radius: 8px;
										margin-left: 10px;
										&:before {
											content: '';
											display: inline-block;
											height: 8px;
											position: absolute;
											top: 0;
											left: 0;
											width: 200px;
											background-color: #0f0;
											border-radius: 8px;
										}
									}
								}

							}
						}
					}
				}
			}
		}
	}
}